@charset "UTF-8";
.banner {
  height: 200px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/Banner/center_for_resource_management_aerial.jpg);
  grid-area: banner; }

.contenedorIzquierdo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  grid-area: aside; }
  .contenedorIzquierdo .card {
    border: solid 1px; }
    .contenedorIzquierdo .card .card-body {
      background-color: #19171686; }

.queEsElProyectoVenus__titulo {
  margin-top: 25px; }

.queEsElProyectoVenus__intro {
  margin-left: auto; }

.queEsElProyectoVenus__descripcion {
  background-color: #19171686;
  color: #D6DBD2;
  width: 100%;
  text-align: justify;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  overflow: auto;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52); }

h2 {
  text-align: center;
  /* text-decoration: overline; */
  letter-spacing: 2px;
  font-family: sans-serif;
  margin: 25px; }

@media (min-width: 768px) {
  .grid__padre {
    display: grid;
    grid-template-areas: "navbar navbar navbar" "banner banner banner" "principal principal aside" "modals modals modals" "cita cita cita" "pie pie pie";
    grid-template-rows: repeat(6 auto);
    grid-template-columns: auto auto;
    justify-items: stretch;
    align-items: start;
    justify-content: stretch; }
  .contenedorIzquierdo {
    margin: 30px 10px 10px 10px; } }

.contenedor__Principal {
  grid-area: principal;
  justify-self: stretch; }

.contenedor__AspectosPrincipales {
  margin-top: 15px; }

.aspectosPrincipales {
  grid-area: modals; }
  .aspectosPrincipales h2 {
    margin-top: 15px; }

.contenedor__AspectosPrincipales h5 {
  text-align: center;
  justify-content: center;
  justify-items: center;
  color: rgba(232, 241, 247, 0.886); }

.modals__aspectosPrincipales {
  display: grid;
  grid-template-areas: "ambient transporte" "energia humano";
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.medioAmbiente {
  grid-area: ambient;
  text-align: center; }
  .medioAmbiente button {
    width: 100%; }

.modal-header {
  background-color: #1416149f;
  color: white;
  box-shadow: 5px 10px 8px #18151574; }
  .modal-header button {
    width: max-content; }

.modal-body {
  background-color: rgba(169, 169, 169, 0.771); }

.sistemasTransporte {
  grid-area: transporte;
  text-align: center; }
  .sistemasTransporte button {
    width: 100%; }

.modal-header button {
  width: max-content; }

.fuentesdeEnergia {
  grid-area: energia;
  text-align: center; }
  .fuentesdeEnergia button {
    width: 100%; }

.modal-header button {
  width: max-content; }

.potencialHumano {
  grid-area: humano;
  text-align: center; }
  .potencialHumano button {
    width: 100%; }

.modal-header button {
  width: max-content; }

h6 {
  text-align: center;
  padding: 5px;
  margin-top: 10px; }

.card-body {
  background-color: gainsboro; }
  .card-body p {
    text-align: justify; }

.modal-footer {
  background-color: #1416149f; }

.cita__JaqueFresco {
  background-color: #191716c0;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: cita; }

.cita__texto {
  margin-top: 30px;
  text-align: end; }

.cita__icono {
  width: 15%; }

.cita__foto {
  align-self: center;
  width: max-content;
  margin-bottom: 15px; }

.foto_Jaque {
  border-radius: 50%;
  height: 200px;
  align-self: center;
  margin: auto; }

.navContainer img {
  border-radius: 50px; }

.banner__EBR {
  text-align: center;
  margin: 20px; }

.ebr__intro h2 {
  text-align: center;
  margin-top: 20px; }

.ebr__descripcion1 {
  margin: 25px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-align: justify;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52); }
  .ebr__descripcion1 p {
    padding: 10px; }

.videoEBR {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px; }

.ebr__caracteristicas {
  width: auto;
  overflow-x: hidden;
  margin: 7px; }

.ebr__caracteristicasIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px 0px;
  width: fit-content;
  margin: 12px 0px 15px; }
  .ebr__caracteristicasIntro img {
    height: 270px;
    width: auto;
    border-radius: 50%;
    margin-bottom: 12px; }
  .ebr__caracteristicasIntro p {
    font-size: 1em;
    text-align: justify;
    margin: auto; }

.ebr__caracteristicas h3 {
  text-align: center; }

.ebr__caracteristica1, .ebr__caracteristica3, .ebr__caracteristica5, .ebr__caracteristica7 {
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  margin-bottom: 15px;
  display: flex;
  align-items: center; }
  .ebr__caracteristica1 img, .ebr__caracteristica3 img, .ebr__caracteristica5 img, .ebr__caracteristica7 img {
    border-radius: 5%;
    margin: 10px 0 10px; }
  .ebr__caracteristica1 p, .ebr__caracteristica3 p, .ebr__caracteristica5 p, .ebr__caracteristica7 p {
    padding: 10px;
    text-align: justify; }

.ebr__caracteristica2, .ebr__caracteristica4, .ebr__caracteristica6 {
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  .ebr__caracteristica2 img, .ebr__caracteristica4 img, .ebr__caracteristica6 img {
    border-radius: 5%;
    margin: 10px 0 10px; }
    .ebr__caracteristica2 img p, .ebr__caracteristica4 img p, .ebr__caracteristica6 img p {
      padding: 10px;
      text-align: justify; }

@media (max-width: 400px) {
  .ebr__descripcion1 {
    margin: 0; }
  .ebr__caracteristicasIntro {
    box-shadow: 0px 2px 2px 0px;
    width: fit-content;
    margin: 12px 0 12px; }
    .ebr__caracteristicasIntro p {
      font-size: 1rem;
      text-align: justify;
      margin: auto; }
  .ebr__caracteristica1, .ebr__caracteristica3, .ebr__caracteristica5, .ebr__caracteristica7 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica1 img, .ebr__caracteristica3 img, .ebr__caracteristica5 img, .ebr__caracteristica7 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica1 div, .ebr__caracteristica3 div, .ebr__caracteristica5 div, .ebr__caracteristica7 div {
      margin-top: 12px; }
  .ebr__caracteristica2, .ebr__caracteristica4, .ebr__caracteristica6 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica2 img, .ebr__caracteristica4 img, .ebr__caracteristica6 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica2 div, .ebr__caracteristica4 div, .ebr__caracteristica6 div {
      margin-top: 12px; }
  .ebr__caracteristica3 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica3 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica3 div {
      margin-top: 12px; }
  .ebr__caracteristica4 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica4 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica4 div {
      margin-top: 12px; }
  .ebr__caracteristica5 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica5 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica5 div {
      margin-top: 12px; }
  .ebr__caracteristica6 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica6 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica6 div {
      margin-top: 12px; }
  .ebr__caracteristica7 {
    flex-direction: column;
    margin-top: 12px; }
    .ebr__caracteristica7 img {
      margin-top: 10px;
      border-radius: 50%; }
    .ebr__caracteristica7 div {
      margin-top: 12px; } }

.newsletter__intro h2 {
  font-size: 30px;
  color: #112323;
  text-decoration: none; }

.newsletter__intro p {
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px; }

.newsletter__descripción {
  text-align: center; }

.newsletter {
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center; }

.formularioNewsletter {
  width: 400px;
  margin-right: -50px;
  background: #24303c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: 7px 13px 37px #000; }

.newsletter__inputs {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 2px solid #143A66;
  background: #24303c5d;
  color: white; }

.formularioNewsletter p {
  height: 30px;
  text-align: center;
  font-size: 15px; }

.formularioNewsletter p a {
  color: white;
  text-decoration: none; }

.formularioNewsletter p a:hover {
  color: white;
  text-decoration: underline; }

.newsletter__botones {
  margin-bottom: 10px;
  width: 30%;
  background: #528BCC;
  color: white;
  border: none;
  padding: 5px; }

.aprendeMas__intro p {
  text-align: center; }

.aprendeMas__videos {
  padding: 0; }

.aprendeMas__Video1, .aprendeMas__Video3, .aprendeMas__Video5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 8px #00000033;
  transition: 2s;
  margin-bottom: 15px; }
  .aprendeMas__Video1 iframe, .aprendeMas__Video3 iframe, .aprendeMas__Video5 iframe {
    padding-left: 10px;
    margin: 5px; }

.resumen__video {
  padding: 15px;
  text-align: justify; }
  .resumen__video a {
    text-decoration: none; }

.aprendeMas__Video2, .aprendeMas__Video4, .aprendeMas__Video6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 8px #00000033;
  transition: 2s;
  margin-bottom: 15px; }
  .aprendeMas__Video2 iframe, .aprendeMas__Video4 iframe, .aprendeMas__Video6 iframe {
    margin: 5px; }

@media (min-width: 768px) {
  .aprendeMas__Video1, .aprendeMas__Video3, .aprendeMas__Video5, .aprendeMas__Video2, .aprendeMas__Video4, .aprendeMas__Video6, .aprendeMas__Video3, .aprendeMas__Video4, .aprendeMas__Video5, .aprendeMas__Video6 {
    flex-wrap: nowrap; }
  .aprendeMas__Video1 iframe, .aprendeMas__Video3 iframe, .aprendeMas__Video5 iframe {
    width: 400px; }
  .aprendeMas__Video2 iframe, .aprendeMas__Video4 iframe, .aprendeMas__Video6 iframe {
    width: 400px; }
  .aprendeMas__Video6 img {
    width: 400px; } }

.aprendeMas__aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .aprendeMas__aside p {
    padding-top: 10px; }
  .aprendeMas__aside a {
    margin-top: 8px; }

.faqs {
  width: 100vw;
  box-shadow: 5px 5px 5px 5px #00000085;
  overflow-x: hidden; }

.introFaqs {
  width: auto;
  padding: 10px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-align: justify;
  box-shadow: 5px 5px 5px 5px #00000085; }
  .introFaqs h3 {
    text-align: center;
    margin: 10px; }
    .introFaqs h3 p {
      margin: 10px;
      align-items: center;
      text-align: justify; }

.colorFondo {
  background-color: #00000000; }

#flush-headingOne {
  background-color: #00000000; }

#flush-collapseOne, #flush-collapseTwo, #flush-collapseThree, #flush-collapseFour, #flush-collapseFive, #flush-collapseSix, #flush-collapseSeven, #flush-collapseEight, #flush-collapseNine, #flush-collapseTen, #flush-collapseEleven, #flush-collapseTwelve {
  color: #000;
  text-align: justify;
  box-shadow: 0 5px 5px 5px #00000085; }

@font-face {
  font-family: 'Dosis', sans-serif;
  src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf); }

html, body {
  background-color: #949BA0;
  height: auto;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  color: #000305; }

.navBar {
  grid-area: navbar; }

.navContainer {
  padding: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; }
  .navContainer a {
    width: min-content;
    margin-right: 5px; }
  .navContainer button {
    width: 100%; }

.nav-item a {
  width: auto; }

#navbarSupportedContent {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center; }

.nav-item {
  list-style: none; }

.itemsNav__boton {
  text-decoration: none;
  color: rgba(204, 222, 234, 0.886);
  margin: 15px;
  transition: 1s; }

.itemsNav__boton:hover {
  transform: scale(1.1); }

.navLogo {
  border-radius: 50px; }

@media (min-width: 397px) {
  .navContainer button {
    width: auto; }
  .pieDePagina__rrss {
    margin-bottom: 10px; } }

.pieDePagina {
  background-color: #191716;
  color: #eceeed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: pie; }

.pieDePagina__rrss {
  display: flex;
  justify-content: space-around; }

.pieDePagina__rrss img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 3px; }

.donaAlProyecto {
  width: 100px;
  margin-left: 10px;
  border-radius: 2px; }
