.newsletter__intro {
  border-radius: 2px;
  box-shadow: 0 5px 5px 5px; }
  .newsletter__intro h2 {
    font-size: 30px;
    color: #112323;
    text-decoration: none; }
  .newsletter__intro p {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px; }
