/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Dosis', sans-serif;
    src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
    
}
html, body { 
    height: auto;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    color: hsl(210, 100%, 1%);
    background-image: linear-gradient(to bottom left,white, #1f2b8c);
    background-repeat: no-repeat;
    background-size: auto;
}
/* CSS correspondiente al Index */

/* Barra de navegacion  */
.barraNavegacion {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    flex-wrap: nowrap;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.665);
    width: max-content;
    height: 100px;
    /* position: fixed;
    top: 0; */
    grid-area: nav;
}

.itemsNav {
    font-size: 20px;
    color: hsla(204, 42%, 86%, 0.886);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 25px;
    /* padding-left: 50px; */
}

.navContainer {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#navbarSupportedContent {
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

}
.nav-item {
    list-style: none;
    
}

.itemsNav__boton {
    text-decoration: none;
    color: hsla(204, 42%, 86%, 0.886);
    margin: 15px;
    transition: 1s;
}
.itemsNav__boton:hover {
    transform: scale(1.1);
}

.navLogo {
    border-radius: 50px;
}

/* Fin barra de navegacion  */

/* Contenedor Principal  */


.contenedorIzquierdo {
display: flex;
justify-content: center;
align-items: center;
    margin-top: 85px;
}

.queEsElProyectoVenus__titulo {
    text-decoration: overline;
    margin-top: 25px;
}

.queEsElProyectoVenus__intro {
    margin-left: auto;
}
.queEsElProyectoVenus__descripcion {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.391); */
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52);
}

h2 {
    text-align: center;
    /* text-decoration: overline; */
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 25px;
}
.parallax {
  background-image: url("../images/The-Venus-Project-parallax.jpg");
  height: 200px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* p {
    color: hwb(150 2% 97%);
    ;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
} */

ol li {
    color: #4b167a
}

li {
    list-style: square;
    text-align: left;
}

a {
    text-decoration: none;
}

.contenedor__AspectosPrincipales {
    margin-top:15px;
}

.contenedor__AspectosPrincipales h5 {
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: hsla(204, 48%, 94%, 0.886);

}
h6 {
    text-align: center;
}
.aspectosPrincipales__cards {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-left: 20px;
}
@media (max-width: 576px) {
    .aspectosPrincipales__cards {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
    }
    .cardMargin {
        margin-top: 20px;
    }
}

/* FOOTER  */
.pieDePagina {
    background-color: #051B33;
    color: hsl(150, 6%, 93%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: pie;
    margin-top: 10px;
}
.pieDePagina__rrss {
    display: flex;
    justify-content:space-around;
}
.pieDePagina__rrss img {
    height: 30px;
    width: 30px;
    margin: 3px;
}

.donaAlProyecto {
    width: 100px;
    margin-left: 10px;
    border-radius: 2px;
}
/* Responsive para Mobile  */

/* Fin CSS correspondiente al Index */

/* CSS Correspondiente a ebr.html */

/* .bodyEBR {
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to bottom left, #1f2b8c, #3c9d69);
    background-repeat: no-repeat;
    background-size: auto;
} */
.ebr__Descripcion1 {

    margin: 25px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}

.videoEbr {
    margin: 25px;
    margin-left: 150px;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.ebr__DescripcionCaracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* grid-template-areas: 
                "intro intro ."
                "caract caract ."
                "caract caract ."
                "caract caract ."
                "caract caract ."
                "caract caract ."
                "caract caract .";
    grid-column-gap: 10px */



}    

.introCaracteristicasEBR {
    margin: 25px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    
}

.caracteristicasEBR1 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    margin: 20px;
    display: flex;
    align-items: center;

}
.caracteristicasEBR2 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR3 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR4 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR5 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR6 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR7 {
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s; 
    display: flex;
    align-items: center;
    margin: 20px;
}
.caracteristicasEBR:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.caracteristicasEBR1 div p {
    margin: 10px;
}
.caracteristicasEBR2 div p {
    margin: 10px;
}
.caracteristicasEBR3 div p {
    margin: 10px;
}
.caracteristicasEBR4 div p {
    margin: 10px;
}
.caracteristicasEBR5 div p {
    margin: 10px;
}
.caracteristicasEBR6 div p {
    margin: 10px;
}
.caracteristicasEBR7 div p {
    margin: 10px;
}
/* CSS correspondiente a aprendeMas.html */

/* .tituloAprendeMas {
    align-items: center;
} */

/* Media Queries Mobile
@media (max-width: 360px){
    .grid__containerAprendeMas {
        grid-template-areas:
        "nav nav"
        "tit tit"
        "sec1 sec1"
        "sec1 sec1"
        "sec1 sec1"
        "sec1 sec1"
        "sec1 sec1"
        "sec1 sec1"
        "aside aside"
        "pie pie"
    }
    .itemsNav {
        width: max-content;
    }
}
/* Media Queries Desktop */
/* @media (min-width: 1024px){
    .grid__containerAprendeMas{
    grid-template-areas:
    "nav nav nav nav"
    "tit tit tit tit "
    "sec1 sec1 sec1 aside"
    "sec1 sec1 sec1 aside"
    "sec1 sec1 sec1"
    "sec1 sec1 sec1"
    "sec1 sec1 sec1"
    "sec1 sec1 sec1"
    "pie pie pie pie";
    }
    .barraNavegacion {
        width: 100%;
    }
    .itemsNav {
        width: max-content;
    }
} */
/* .tituloAprendeMas {
    grid-area: tit;
    margin: 25px;

}
.tituloAprendeMas p {
    font-size: 17px;
}
.grid__AprendeMas__principal {
    grid-area: sec1;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
} */
/* h3 {
    text-align: center;
    margin-bottom: 15px;
} */


/* CSS correspondiente a FAQS.html */
/* .navBar {
    background-color: rgba(0, 0, 0, 0.531);
} */

/* main .introFaqs {
    margin: 25px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    text-align: justify;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52);
}
main .introFaqs p {
    margin: 10px;
    text-align: justify;
} */
/* .colorFondo {
    background-color: rgba(0, 0, 0, 0);
}
#flush-collapseOne, #flush-collapseTwo, #flush-collapseThree, #flush-collapseFour, #flush-collapseFive, #flush-collapseSix, #flush-collapseSeven, #flush-collapseEight, #flush-collapseNine, #flush-collapseTen, #flush-collapseEleven, #flush-collapseTwelve {
    color: #000;
    text-align: justify;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52);
} */

/* CSS Correspondiente al Newsletter.html */

