
// Aplicación de mapa y map-get para el desafío 7
// Variable
$cajaCaracteristicas: (
    bordeCaja: 3px,
    sombraCaja: 4px 4px 8px 0 rgba(0,0,0,0.2),
    transicion: 1s,
    bordeInferior: 15px
);

.paddingContEbr{
    padding: 0;
}
// Banner

.banner__EBR {
    text-align: center;
    margin: 20px;
}

// Introducción EBR
.ebr {
    margin: 0;
}
.ebr__intro {
    h2 {
        text-align: center;
        margin-top: 20px;
    }
}
.ebr__descripcion1 {

    margin: 25px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    text-align: justify;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52);
        p {
            padding: 10px;
        }
}

.videoEBR {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
// Caracteristicas EBR 
.ebr__caracteristicas {
    width: auto;
    overflow-x: hidden;
    margin: 7px;
}
.ebr__caracteristicasIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px 0px;
    width: fit-content;
    margin: 12px 0px 15px;
    img {
        height: 270px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 12px;
    }
    p {
    font-size: 1em;
    text-align: justify;
    margin: auto;
    }
}
.ebr__caracteristicas h3 {
    text-align: center;
}
.ebr__caracteristica1 {
    border-radius: map-get($cajaCaracteristicas, bordeCaja); 
    box-shadow: map-get($cajaCaracteristicas, sombraCaja);
    transition: map-get($cajaCaracteristicas , transicion);
    margin-bottom: map-get($cajaCaracteristicas, bordeInferior);
    display: flex;
    align-items: center;
        img {
            border-radius: 5%;
            margin: 10px 0 10px;
        }
            p {
            padding: 10px;
            text-align: justify;
    }
}


.ebr__caracteristica2 {
    border-radius: map-get($cajaCaracteristicas, bordeCaja); 
    box-shadow: map-get($cajaCaracteristicas, sombraCaja);
    transition: map-get($cajaCaracteristicas , transicion);
    margin-bottom: map-get($cajaCaracteristicas, bordeInferior);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    img {
        border-radius: 5%;
        margin: 10px 0 10px;
    p {
        padding: 10px;
        text-align: justify;
}
}
}
.ebr__caracteristica3 {
    @extend .ebr__caracteristica1;
}
.ebr__caracteristica4 {
    @extend .ebr__caracteristica2;
}
.ebr__caracteristica5 {
    @extend .ebr__caracteristica1;
}
.ebr__caracteristica6 {
    @extend .ebr__caracteristica2;
}
.ebr__caracteristica7 {
    @extend .ebr__caracteristica1;
}

// MediaQueris Responsive 

@media (max-width: 400px) {
    .ebr__descripcion1 {
        margin:0;
    }
    .ebr__caracteristicasIntro {
            box-shadow: 0px 2px 2px 0px;
            width: fit-content;
            margin: 12px 0 12px;
            p {
            font-size: 1rem;
            text-align: justify;
            margin: auto;

        }
    }
    .ebr__caracteristica1 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica2 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica3 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica4 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica5 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica6 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    .ebr__caracteristica7 {
        flex-direction: column;
        margin-top: 12px;
        img {
            margin-top: 10px;
            border-radius: 50%;
        }
        div {
            margin-top: 12px;
        }
    }
    }


// Footer 




