
.navContainer {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#navbarSupportedContent {
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

}
.nav-item {
    list-style: none;
    
}
.itemsNav__boton {
    text-decoration: none;
    color: hsla(204, 42%, 86%, 0.886);
    margin: 15px;
    transition: 1s;
}
.itemsNav__boton:hover {
    transform: scale(1.1);
}

.navLogo {
    border-radius: 50px;
}

// Aplicación de Mixin para desafío 7
@mixin tamanioBanner ($alto, $ancho){ 
    height: $alto;
    width: $ancho;
}

.banner {
@include tamanioBanner(200px, 100%);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/center_for_resource_management_aerial.jpg);
padding-left: 0;
padding-right: 0;
    
}
.contenedorIzquierdo {
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 85px;
    }
    
    .queEsElProyectoVenus__titulo {
        text-decoration: overline;
        margin-top: 25px;
    }
    
    .queEsElProyectoVenus__intro {
        margin-left: auto;
    }
    .queEsElProyectoVenus__descripcion {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        line-height: 1.5em;
        letter-spacing: 0.5px;
        overflow: auto;
        /* background-color: rgba(0, 0, 0, 0.391); */
        box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.52);
    }
    
    h2 {
        text-align: center;
        /* text-decoration: overline; */
        letter-spacing: 2px;
        font-family: sans-serif;
        margin: 25px;
    }
    .parallax {
      background-image: url("../images/The-Venus-Project-parallax.jpg");
      height: 200px; 
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    
    ol li {
        color: #4b167a
    }
    
    li {
        list-style: square;
        text-align: left;
    }
    
    a {
        text-decoration: none;
    }
    
    .contenedor__AspectosPrincipales {
        margin-top:15px;
    }
    
    .contenedor__AspectosPrincipales h5 {
        text-align: center;
        justify-content: center;
        justify-items: center;
        color: hsla(204, 48%, 94%, 0.886);
    
    }
    h6 {
        text-align: center;
    }
    .aspectosPrincipales__cards {
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    @media (max-width: 576px) {
        .aspectosPrincipales__cards {
            flex-direction: column;
            margin-top: 15px;
            align-items: center;
        }
        .cardMargin {
            margin-top: 20px;
        }
    }
    
    /* FOOTER  */
    .pieDePagina {
        background-color: #051B33;
        color: hsl(150, 6%, 93%);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: pie;
        margin-top: 10px;
    }
    .pieDePagina__rrss {
        display: flex;
        justify-content:space-around;
    }
    .pieDePagina__rrss img {
        height: 30px;
        width: 30px;
        margin: 3px;
    }
    
    .donaAlProyecto {
        width: 100px;
        margin-left: 10px;
        border-radius: 2px;
    }