.newsletter__intro {
    border-radius: 2px;
    box-shadow: 0 5px 5px 5px;
        h2 {
            font-size: 30px;
            color: rgb(17, 35, 35);
            text-decoration: none;
        }
            p {
                font-size: 20px;
                margin-bottom: 15px;
                padding: 10px;
            }
}