//scss correspondiente a Index
@import "index";
// scss correspondiente a EBR 
@import "estilosebr";
// scss correspondiente a Newsletter
@import "newsletter";
// scss correspondiente a AprendeMas
@import "aprendeMas";

// Estilos Generales
@font-face {
    font-family: 'Dosis', sans-serif;
    src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
    
}
html, body { 
    height: auto;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    color: hsl(210, 100%, 1%);
    background-image: linear-gradient(to bottom left,white, #1f2b8c);
    background-repeat: no-repeat;
    background-size: auto;
}
